<div class="container">
  <h2>Músicas</h2>

  <!-- Barra de busca -->
  <div class="search-bar">
    <input type="text" [(ngModel)]="filtroNome" placeholder="Buscar por nome" />
    <button (click)="buscarPorNome()">Buscar</button>
  </div>

  <!-- Botão para abrir o modal de adicionar música -->
  <button class="addMusic" (click)="abrirModal()">Adicionar Música</button>

  <!-- Modal para adicionar, editar ou excluir música -->
  <div class="modal-overlay" *ngIf="mostrarModal">
    <div class="modal">
      <h3>
        {{
          modoExclusao
            ? "Confirmar Exclusão"
            : editingId
            ? "Editar Música"
            : "Nova Música"
        }}
      </h3>

      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <!-- Campos visíveis apenas se não for modoExclusao -->
        <div *ngIf="!modoExclusao">
          <input formControlName="name" placeholder="Nome da Música" />
          <input formControlName="artist" placeholder="Artista" />
        </div>

        <!-- Mensagem de confirmação no modo de exclusão -->
        <p *ngIf="modoExclusao">
          Tem certeza que deseja excluir a música
          <strong>{{ form.value.name }}</strong> de
          <strong>{{ form.value.artist }}</strong
          >?
        </p>

        <div class="modal-actions">
          <button type="submit" [disabled]="!modoExclusao && form.invalid">
            {{ modoExclusao ? "Confirmar Exclusão" : "Salvar" }}
          </button>
          <button type="button" (click)="fecharModal()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Lista de músicas -->
  <div *ngIf="musics.length === 0">Nenhuma música encontrada.</div>
  <div class="music-list">
    <div class="music-card" *ngFor="let music of musics">
      <h3>{{ music.name }}</h3>
      <p><strong>Artista:</strong> {{ music.artist }}</p>
      <p><strong>ID:</strong> {{ music.id }}</p>
      <div class="music-actions">
        <button (click)="editMusic(music)">Editar Música</button>
        <button (click)="abrirConfirmacaoExclusao(music)">
          Excluir Música
        </button>
      </div>
    </div>
  </div>
</div>
