<div class="container">
  <!-- Mensagem de sucesso quando a musica é add -->
  <div *ngIf="musicaAdicionadaComSucesso" class="success-message">
    Música adicionada com sucesso!
  </div>

  <h2>Playlists</h2>

  <!-- Campo de filtro -->
  <div class="filter-container">
    <input type="text" [(ngModel)]="filtroNome" placeholder="Buscar por nome" />
    <button (click)="buscarPorNome()">Buscar</button>
    <button (click)="abrirModal()">Nova Playlist</button>
  </div>

  <!-- Lista de playlists -->
  <div *ngIf="playlists.length === 0">Nenhuma playlist encontrada.</div>
  <div class="playlist-list">
    <div
      class="playlist-card"
      *ngFor="let playlist of playlists"
      (click)="toggleMusicas(playlist.id)"
    >
      <h3>{{ playlist.name }}</h3>
      <p><strong>Gênero:</strong> {{ playlist.genre }}</p>
      <p>
        <strong>Quantidade de Músicas:</strong> {{ playlist.quantityMusic }}
      </p>

      <!-- Botões da playlist -->
      <div class="playlist-actions">
        <button
          class="edit-btn"
          (click)="editPlaylist(playlist); $event.stopPropagation()"
        >
          Editar Playlist
        </button>
        <button
          class="delete-btn"
          (click)="confirmDelete(playlist.id); $event.stopPropagation()"
        >
          Excluir Playlist
        </button>
        <button
          class="addPlaylist"
          (click)="abrirSelecaoMusicas(playlist.id); $event.stopPropagation()"
        >
          Adicionar Música
        </button>
      </div>

      <!-- Músicas da playlist -->
      <div *ngIf="mostrarMusicas === playlist.id">
        <h4>Músicas</h4>
        <ul *ngIf="playlist.listMusics && playlist.listMusics.length > 0">
          <li *ngFor="let music of playlist.listMusics">
            {{ music.name }}
            <button
              class="delete-btn"
              (click)="
                confirmDeleteMusica(playlist.id, music.id);
                $event.stopPropagation()
              "
            >
              Remover
            </button>
          </li>
        </ul>
        <p *ngIf="!playlist.listMusics || playlist.listMusics.length === 0">
          Nenhuma música encontrada
        </p>
      </div>
    </div>
  </div>

  <!-- Modal de criar e editar-->
  <div *ngIf="mostrarModal" class="modal-overlay">
    <div class="modal">
      <h3>{{ editingId ? "Editar Playlist" : "Criar Nova Playlist" }}</h3>

      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <label>Nome:</label>
        <input formControlName="name" placeholder="Nome da playlist" />
        <div
          *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
          class="error"
        >
          Nome é obrigatório.
        </div>

        <label>Gênero:</label>
        <input formControlName="genre" placeholder="Gênero" />
        <div
          *ngIf="form.get('genre')?.invalid && form.get('genre')?.touched"
          class="error"
        >
          Gênero é obrigatório.
        </div>

        <div class="modal-actions">
          <button type="button" (click)="fecharModal()">Cancelar</button>
          <button type="submit" [disabled]="form.invalid">
            {{ editingId ? "Salvar Edição" : "Criar" }}
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- Modal de adicionar música -->
  <div *ngIf="playlistSelecionada !== null" class="modal-overlay">
    <div class="modal">
      <h3>Adicionar Música à Playlist</h3>
      <div *ngIf="musicasDisponiveis.length > 0">
        <ul>
          <li *ngFor="let music of musicasDisponiveis">
            {{ music.name }} - {{ music.artist }}
            <button
              class="edit-btn"
              (click)="adicionarMusica(playlistSelecionada, music.id)"
            >
              Adicionar
            </button>
          </li>
        </ul>
      </div>
      <button class="delete-btn" (click)="fecharSelecaoMusicas()">
        Fechar
      </button>
    </div>
  </div>

  <!-- Modal de confirmação de exclusão da playlist -->
  <div class="modal-overlay" *ngIf="mostrarConfirmacao">
    <div class="modal">
      <h3>Confirmar Exclusão</h3>
      <p>Tem certeza que deseja excluir esta playlist?</p>
      <div class="modal-actions">
        <button type="button" (click)="cancelarExclusao()">Cancelar</button>
        <button class="confirm-btn" (click)="confirmarExclusao()">
          Confirmar
        </button>
      </div>
    </div>
  </div>

  <!-- Modal de confirmação de exclusão de música -->
  <div class="modal-overlay" *ngIf="mostrarConfirmacaoMusica">
    <div class="modal">
      <h3>Confirmar Exclusão da Música</h3>
      <p>Tem certeza que deseja remover esta música?</p>
      <div class="modal-actions">
        <button type="button" (click)="cancelarExclusaoMusica()">
          Cancelar
        </button>
        <button class="confirm-btn" (click)="confirmarExclusaoMusica()">
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>
