<div class="container">
  <h2>Playlists</h2>

  <!-- Botão para abrir o modal de adicionar playlist-->
  <button class="addPlaylist" (click)="abrirModal()">Adicionar Playlist</button>

  <!-- Modal para adicionar nova playlist -->
  <div class="modal-overlay" *ngIf="mostrarModal">
    <div class="modal">
      <h3>{{ editingId ? "Editar Playlist" : "Nova Playlist" }}</h3>
      <!-- Formulário com Reactive Form -->
      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <!-- Campo de nome da playlist -->
        <input formControlName="name" placeholder="Nome da Playlist" />
        <!-- Campo de gênero da playlist -->
        <input formControlName="genre" placeholder="Gênero" />
        <div class="modal-actions">
          <!-- Botão de salvar, que dispara o submit do formulário -->
          <button type="submit" [disabled]="form.invalid">Salvar</button>
          <!-- Botão de cancelar, que fecha o modal -->
          <button type="button" (click)="fecharModal()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Barra de busca -->
  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="filtroNome"
      placeholder="Buscar pelo nome"
    />
    <button (click)="buscarPorNome()">Buscar</button>
  </div>

  <!-- Exibe a lista de playlists -->
  <div *ngIf="playlists.length === 0">Nenhuma playlist encontrada.</div>
  <div class="playlist-list">
    <div class="playlist-card" *ngFor="let playlist of playlists">
      <h3 (click)="toggleMusicas(playlist.id)">{{ playlist.name }}</h3>
      <p><strong>Gênero:</strong> {{ playlist.genre }}</p>
      <p>
        <strong>Quantidade de Músicas:</strong> {{ playlist.quantityMusic }}
      </p>

      <!-- Botões para editar e excluir -->
      <div class="playlist-actions">
        <button (click)="editPlaylist(playlist)">Editar Playlist</button>
        <button (click)="confirmDelete(playlist.id)">Excluir Playlist</button>
      </div>

      <!-- Lista de músicas, visível se a playlist for clicada -->
      <div *ngIf="mostrarMusicas === playlist.id">
        <ul>
          <li *ngFor="let music of playlist.listMusics">{{ music.name }}</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Modal de Confirmação de Exclusão -->
  <div class="modal-overlay" *ngIf="mostrarConfirmacao">
    <div class="modal">
      <h3>Confirmar Exclusão</h3>
      <p>Tem certeza que deseja excluir esta playlist?</p>
      <div class="modal-actions">
        <button (click)="confirmarExclusao()">Confirmar</button>
        <button (click)="cancelarExclusao()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
